@font-face {
    font-family: 'alex_brushregular';
    src: url('/fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('/fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.nomEcole{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: alex_brushregular, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
}

.phoenixPara{
    font-family: alex_brushregular, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-style: oblique -18deg;
}

.date{
    font-weight: bold;
}

#pub {
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-right: 20px;
    position: sticky;
    bottom: 50px;
    float: right;
    right: 2px;
}

.phoenixFooter{
    font-family: alex_brushregular, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

a{
    text-decoration: none;
}