@font-face {
    font-family: 'alex_brushregular';
    src: url('/fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('/fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.nomEcole{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: alex_brushregular, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
}

.phoenixPara{
    font-family: alex_brushregular, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-style: oblique -18deg;
}

.accueil{
    padding: 10px;
}
.accueil a{
    text-decoration: none;
    color: #575b5e;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.carte{
    width: auto;

    border: solid 1px #d2d2d2;
    border-radius: 3%;
}

.titre-carte{
    text-align: center;
}

.image-carte img{
    width: 100%;
    border-radius: 5%;
}

.texte-carte{
    margin-left: 10px;
    margin-right: 10px;
}

.grid-item{
    padding: 10px;
}

.date{
    font-weight: bold;
}

.phoenixFooter{
    font-family: alex_brushregular, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

footer a{
    text-decoration: none;
}

/*média query*/

@media (min-width : 481px) {
    .grid-container{
        grid-template-columns: 1fr 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    .carte{
        height: 100%;
    }
    
}

@media (min-width : 850px) {
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}